ul, li {
  list-style: none;
}

ul {
  margin-bottom: 0px;
}

header, nav, section, footer {
  display: block;
}

html, body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-weight: 400; */
  background-color: gainsboro;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  color: grey;
}

/* global styles */
/* main body */
body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.know-button {
  font-size: 14px;
  border-radius: 30px;
  padding: 15px 15px;
  background-color: orange;
  text-transform: uppercase;
  color: #fff;
}

a.know-button:hover {
  color: black;
}

.logo img{
  width: 100px;
}

/* features */
a.feat-button {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color:orange;
  text-transform: uppercase;
  color: #fff;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
}

.header-area .main-nav {
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: #191a20;
  font-size: 30px;
  text-transform: uppercase;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  float: left;
  margin-top: 23px;
  margin-left: 15%;
  background-color:white;
  padding: 0px 20px;
  position: relative;
}

.nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  border: transparent;
}

.header-area .main-nav .nav li:hover a {
  color: orange;
}

.wrapper{
  margin-top: 150px;
  width: 450px;
}

.welcome-area {
  width: 100%;
  height: 100vh;
  min-height: 793px;
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.welcome-area .header-text .left-text {
  position: relative;
  align-self: center;
  margin-top: 15%;
}

.welcome-area .header-text h1 {
  font-weight: 900;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 30px;
  color: #191a20;
}

.welcome-area .header-text h1 em {
  font-style: normal;
  color: #fba70b;
}

.welcome-area .header-text p {
  font-weight: 350;
  font-size: 18px;
  color: gray;
  line-height: 30px;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 1420px) {
  .welcome-area .header-text {
    width: 70%;
    margin-left: 5%;
  }
}

/* feature */
#about {
  padding: 10px 0px;
  position: relative;
}

.row{ 
  display: flex;
  gap: 100px;
}

.trend-col{
  width: 310px;
}

.features-item {
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.1);
}

.features-item img {
  z-index: 10;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.features-item h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}

/* testimonials */
#testimonials {
  padding-top: 80px;
  position: relative;
  z-index: 9;
}

.top{
  padding-left: 200px;
  margin-bottom: -150px;
}

#testimonials h2{
  padding-left: 140px;
  font-weight: 1000;
}

#testimonials .item {
  position: relative;
}

.review-content {
  width: 300px;
  background: #f58063;
  padding: 40px 30px;
  text-align: center;
  border-radius: 20px;
}

.review-content h4 {
  font-weight: 100px;
  font-size: 25px;
  margin-top: 18px;
  color:white;
}

.review-content p {
  color: white;
  font-style: italic;
  font-weight: 200;
  margin: 20px 0px 15px 0px;
}

.review-content span {
  color: #fff;
  font-weight: 200;
  font-size: 13px;
}

#testimonials .author img {
  max-width: 120px;
  margin-bottom: -60px;
}

.col {
  display: flex;
  gap: 100px;
}

/* footer */
footer {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 200px;
  margin-top: 50px;
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

footer p{
  color: black;
}

.sub-footer{
  padding-left: 430px;
}

.sub-footer p{
  font-weight: 300px;
}

.ending h2 em{
  font-style: normal;
  color: white;
}

.social img{
  width: 30px;
}