* {
    box-sizing: border-box
}

.logo1 img{
  float: left;
  width: 70px;
}

.container1 {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 10px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.register-btn {
  background-color: #079e67;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  border-radius: 30px;
}
.register-btn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  text-align: center;
}